.scroll_down {
    width: 33.69px;
    height: 46px;
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 8;
    transition: all 0.3s linear;
    scroll-behavior: smooth;

    @media screen and (min-width:1921px) {
        bottom: 2.520833vw;
    }

    @media screen and (max-width: 992px) {
        width: 22.69px;
        height: 37px;
        bottom: 85px;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }


    &.scroller {
        -webkit-animation-name: scroll;
        animation-name: scroll;
        -webkit-animation-duration: 2.2s;
        animation-duration: 2.2s;
        -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
        animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;

        .customIcon {
            &::before {
                font-size: 55px;
            }
        }
    }
}

@-webkit-keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        opacity: 0;
    }
}

/*Section*/
section {
    position: relative;
}

#tanitimSection {
    padding-top: 10.5vw;
    padding-bottom: 9vw;
    padding-left: 8%;
    padding-right: 8%;

    @media screen and (max-width: 1400px) {
        padding-left: 4%;
        padding-right: 4%;
    }

    @media screen and (max-width: 991.98px) {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 12vw;
    }

    .contentContainer {
        position: relative;
        z-index: 2;
    }

    .textContent {
        position: relative;

        .tanitimText {
            padding-right: 5rem;
            z-index: 1;

            @media screen and (max-width:1400px) {
                padding-right: 2rem;
            }

            @media screen and (max-width:991.98px) {
                padding-right: 0;
            }
        }

    }

    .text-image {
        width: 22%;
        height: auto;
        overflow: visible;
        z-index: 1;

        @media screen and (max-width: 991.98px) {
            width: 28%
        }

        @media screen and (max-width:600px) {
            width: 32%
        }

        img {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            width: 50%;

            @media screen and (max-width: 991.98px) {
                width: 100%;
            }
        }
    }

    .videoContent {
        z-index: 1;
        position: relative;

        &::before {
            content: '';
            background-image: url('/resources/assets/images/svg/video-bg.svg');
            position: absolute;
            background-position: left;
            background-repeat: no-repeat;
            background-size: contain;
            width: 21vw;
            height: 148%;
            left: 14.5vw;
            top: -6.5vw;

            @media screen and (min-width: 1921px) {
                width: 343px;
                height: 152%;
                left: 16.5rem;
                top: -7.5rem;
            }

            @media screen and (max-width: 991.98px) {
                width: 40vw;
                height: 160%;
                left: 25vw;
                top: -12vw;
            }
        }


    }
}

#logoSection {
    padding-top: 2.5vw;
    padding-bottom: 7vw;
    padding-left: 8%;
    padding-right: 8%;

    @media screen and (max-width: 1400px) {
        padding-left: 4%;
        padding-right: 4%;
    }

    @media screen and (max-width: 991.98px) {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10.5vw;
    }
}

#aboutSection {
    padding: 2vw 0 16vw 0;
    padding-left: 8%;
    padding-right: 8%;

    @media screen and (max-width: 1400px) {
        padding-left: 4%;
        padding-right: 4%;
    }

    @media screen and (max-width: 991.98px) {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0;
    }

    .aboutImg {
        .imageWrapper {
            width: 46%;
            height: auto;
        }
    }
}

#cardSection {
    padding-bottom: 5vw;
    padding-left: 8%;
    padding-right: 8%;

    @media screen and (max-width: 1400px) {
        padding-left: 4%;
        padding-right: 4%;
    }

    @media screen and (max-width: 991.98px) {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0;
    }
}

#referansSection {
    padding-bottom: 9vw;
    padding-left: 8%;
    padding-right: 8%;

    @media screen and (max-width: 1400px) {
        padding-left: 4%;
        padding-right: 4%;
    }

    @media screen and (max-width: 991.98px) {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0;
    }

}

#contactSection {
    .imageWrapper {
        img {
            width: auto;
        }
    }

    .btn { 
        @media screen and (min-width: 992px) {
            padding: 12px 55px;
            border-radius: 0;
        }
        @media screen and (max-width: 991.98px) {
            border-radius: 100px;
        }
    }

    .contact-iframe {
        padding-top: 9vw;

        iframe{
            mix-blend-mode: luminosity;
            display: block;
            @media screen and (max-width: 991.98px) {
                height: 385px;
            }
        }
        @media screen and (min-width: 1921px) {
            padding-top: 10rem;
        }
        @media screen and (max-width: 991.98px) {
            padding-top: 2vw;
        }
    }
    .socialMedia {
       a{
        &:first-child{ 
            @media screen and (min-width: 992px) {
                padding-left: 0;
            }
        }
        @media screen and (max-width: 991.98px) {
            padding: 0px 0.8rem;
        }
       }
        .customIcon {
            &:before {
                color: var(--gray-600, #6C757D);
            }
        }
    }
    a{
        color: var(--gray-600, #6C757D);
    }
    p{
        @media screen and (max-width: 991.98px) {
           margin: 0;
        }
    }
}

.textContent {
    text-align: justify;
}

.contentPages {
    padding: 0 0 16vw 0;
    padding-left: 8%;
    padding-right: 8%;

    @media screen and (max-width: 1400px) {
        padding-left: 4%;
        padding-right: 4%;
    }

    @media screen and (max-width: 991.98px) {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0;
    }
}

/*Anasayfada kullanılan play button ve animasyon. Anasayfadaki buton html i alınarak baska yerde kullanılabılır*/
.playButton {
    position: relative;
    z-index: 1;

    .customIcon {
        animation: playIcon 2s alternate infinite;
        font-size: 40px;

        @media screen and (max-width:1440px) {
            top: 2px;
            position: relative;
            font-size: 30px;
        }

        @media screen and (max-width:600px) {
            font-size: 13px;
            top: 0;
        }
    }

    &:before {
        content: "";
        position: absolute;
        width: 102.096px;
        height: 102.096px;
        top: 50%;
        left: 50%;
        margin-left: -52.5px;
        margin-top: -52.5px;
        background-color: #3A4B5B;
        z-index: -1;
        border-radius: 100%;
        animation: playBack 2s alternate infinite;

        @media screen and (max-width: 1441px) {
            width: 100px;
            height: 100px;
            margin-left: -50px;
            margin-top: -50px;
        }

        @media screen and (max-width: 600px) {
            width: 40px;
            height: 40px;
            margin-left: -20px;
            margin-top: -21px;
        }
    }

    &:after {
        content: "";
        position: absolute;
        width: 90px;
        height: 90px;
        margin-left: -46.5px;
        margin-top: -46.5px;
        background-color: rgba(0, 0, 0, 0);
        border: 4px solid #3A4B5B;
        top: 50%;
        left: 50%;
        z-index: -1;
        border-radius: 100%;
        animation: playBack2 2s alternate infinite;

        @media screen and (max-width: 1441px) {
            width: 70px;
            height: 70px;
            margin-left: -35px;
            margin-top: -35px;
            border: 2px solid #3A4B5B;
        }

        @media screen and (max-width: 600px) {
            width: 40px;
            height: 40px;
            margin-left: -20px;
            margin-top: -21px;
        }
    }
}

.videoCover {
    position: relative;

    @media screen and (max-width:991.98px) {
        width: 100%;
    }

    .imageWrapper {
        aspect-ratio: 8/4.5;
    }

    .playButton {
        position: absolute;
        top: 48%;
        right: 48%;

        @media screen and (max-width:600px) {
            top: 47%;
            right: 48.5%;
        }

        @media screen and (max-width:600px) {
            top: 47%;
            right: 48.5%;
        }

        @media screen and (max-width:380px) {
            top: 43%;
        }
    }

    .noteBg {
        @media screen and (max-width: 991.98px) {
            margin-top: -62px;
            margin-left: 22px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 45px 14px 47px 10px;
            width: 363px;
            height: 120.874px;
        }

        @media screen and (max-width: 600px) {
            padding: 27px 88px 27px 10px;
            width: 377px;
            height: 100.874px;
            margin-top: -50px;
        }

        @media screen and (max-width: 480px) {
            padding: 27px 85px 27px 10px;
            margin-top: -40px;
            margin-left: 22px;
        }

        @media screen and (max-width: 400px) {
            width: 80%;
            height: auto;
            margin-top: -40px;
            margin-left: 22px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 19px 14px 15px 10px;
        }

        @media screen and (max-width: 365px) {
            width: 79%;
            padding: 4px 18px 15px 10px;
        }
    }
}

@keyframes playIcon {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes playBack {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.72);
    }
}

@keyframes playBack2 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}