.cards .card {
  border: none;
  border-radius: 0;
  aspect-ratio: 5/5.4;
}
@media screen and (max-width: 991.98px) {
  .cards .card {
    aspect-ratio: 5/6;
  }
}
.cards .card .imageWrapper {
  position: relative;
  border-radius: 0 0 0 95px;
  overflow: hidden;
}
.cards .card .imageWrapper img {
  border-radius: 0;
  filter: grayscale(1);
  transition: all 0.3s linear;
  transform-origin: center top;
}
.cards .card .imageWrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 191, 255, 0);
  mix-blend-mode: normal;
  opacity: 0.13;
  z-index: 1;
  transition: background-color 0.3s linear;
}
@media screen and (min-width: 992px) {
  .cards .card .imageWrapper:hover::before {
    background: #00bfff;
    mix-blend-mode: normal;
    opacity: 0.13;
  }
  .cards .card .imageWrapper:hover img {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 992px) {
  .cards .card:hover .card-body {
    transform: translateY(8px);
    transition: transform 0.3s ease;
  }
}
.cards .card .card-body {
  transition: transform 0.3s ease;
}
@media screen and (max-width: 991.98px) {
  .cards .card .card-body {
    padding-top: 0.5rem;
  }
  .cards .card .card-body .card-text {
    font-size: 12px;
    line-height: normal;
  }
}
.cards.type3 .card, .cards.type2 .card, .cards.type1 .card {
  aspect-ratio: 9.2/4.8;
  display: flex;
  flex-direction: column;
}
.cards.type3 .card .imageWrapper, .cards.type2 .card .imageWrapper, .cards.type1 .card .imageWrapper {
  border-radius: 0px 0px 0px 40px;
  cursor: pointer;
}
.cards.type3 .card .imageWrapper img, .cards.type2 .card .imageWrapper img, .cards.type1 .card .imageWrapper img {
  filter: none;
  transform: scale(1.08);
  transform-origin: center center;
}
.cards.type3 .card .imageWrapper::before, .cards.type2 .card .imageWrapper::before, .cards.type1 .card .imageWrapper::before {
  content: none;
}
.cards.type3 .card .card-img-overlay, .cards.type2 .card .card-img-overlay, .cards.type1 .card .card-img-overlay {
  cursor: pointer;
  background: var(--primary-color-dark, #384857);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 7vw;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.3s linear;
}
.cards.type3 .card .card-img-overlay .customIcon, .cards.type2 .card .card-img-overlay .customIcon, .cards.type1 .card .card-img-overlay .customIcon {
  font-size: 35px;
  transform: rotate(45deg);
}
.cards.type3 .card .card-body, .cards.type2 .card .card-body, .cards.type1 .card .card-body {
  padding-top: 2rem;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards.type3 .card .card-body .card-title, .cards.type2 .card .card-body .card-title, .cards.type1 .card .card-body .card-title {
  white-space: normal;
}
@media screen and (max-width: 991.98px) {
  .cards.type3 .card .card-body, .cards.type2 .card .card-body, .cards.type1 .card .card-body {
    padding-top: 0.5rem;
    height: 60px;
  }
}
@media screen and (min-width: 992px) {
  .cards.type3 .card:hover img, .cards.type2 .card:hover img, .cards.type1 .card:hover img {
    transform: scale(1);
  }
  .cards.type3 .card:hover .card-img-overlay, .cards.type2 .card:hover .card-img-overlay, .cards.type1 .card:hover .card-img-overlay {
    opacity: 1;
    top: 6vw;
  }
}
@media screen and (min-width: 1921px) {
  .cards.type3 .card:hover .card-img-overlay, .cards.type2 .card:hover .card-img-overlay, .cards.type1 .card:hover .card-img-overlay {
    opacity: 1;
    top: 112px;
  }
}
.cards.type2 .card .card-img-overlay .customIcon {
  font-size: 25px;
  transform: rotate(0);
}
@media screen and (max-width: 991.98px) {
  .cards.type2 .card .card-img-overlay {
    opacity: 1;
    top: -8vw;
    bottom: 0;
    margin: auto;
    width: 55px;
    height: 55px;
  }
  .cards.type2 .card .card-img-overlay .customIcon {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .cards.type2 .card .card-img-overlay {
    top: -15vw;
    width: 45px;
    height: 45px;
  }
  .cards.type2 .card .card-img-overlay .customIcon {
    font-size: 16px;
  }
}
.cards.type2 .card .card-body {
  transform: translateY(-15px);
  transition: all 0.3s linear;
  opacity: 0;
}
@media screen and (max-width: 991.98px) {
  .cards.type2 .card .card-body {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 992px) {
  .cards.type2 .card:hover .card-body {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s linear;
  }
}
.cards.type3 .card {
  aspect-ratio: 8/5;
}
@media screen and (max-width: 991.98px) {
  .cards.type3 .card {
    aspect-ratio: 9.2/5;
  }
}
.cards.type3 .card .imageWrapper img {
  transform: scale(1);
}
@media screen and (min-width: 992px) {
  .cards.type3 .card .imageWrapper:hover img {
    transform: scale(1.08);
  }
}
@media screen and (max-width: 1600px) and (min-width: 992px) {
  .referans-container {
    width: 75%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .referans-container {
    width: 85%;
  }
}
@media screen and (max-width: 600px) {
  .referans-container {
    justify-content: space-between !important;
  }
}
.referans-container .card {
  width: auto;
  padding: 0;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2rem;
  aspect-ratio: auto;
  border: none;
}
@media screen and (min-width: 1921px) {
  .referans-container .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 991.98px) {
  .referans-container .card {
    border-radius: 0px 0px 0px 40px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    margin-left: 0;
    margin-right: 0;
    border: none;
    min-width: 24vw;
    margin-left: 1vw;
    margin-right: 1vw;
    aspect-ratio: 5/3;
  }
}
@media screen and (max-width: 600px) {
  .referans-container .card {
    min-width: 36vw;
  }
}
@media screen and (max-width: 330px) {
  .referans-container .card {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
}
.referans-container .card img {
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: luminosity;
  height: 50px;
}
@media screen and (max-width: 991.98px) {
  .referans-container .card img {
    height: 30px;
    width: 75%;
  }
}

.card-filter {
  position: absolute;
  right: 0;
  top: -9vw;
  z-index: 2;
}
@media screen and (min-width: 1921px) {
  .card-filter {
    top: -170px;
  }
}
@media screen and (max-width: 1400px) {
  .card-filter {
    top: -10vw;
  }
}
@media screen and (max-width: 991.98px) {
  .card-filter {
    position: relative;
    top: 0;
    justify-content: center;
    padding: 0 0 30px 0;
  }
}
.card-filter span {
  color: var(--secondary-color, #B0AEB0);
  font-size: 26px;
}
@media screen and (max-width: 991.98px) {
  .card-filter span {
    font-size: 16px;
  }
}
.card-filter a {
  color: var(--secondary-color, #B0AEB0);
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s linear;
}
.card-filter a.active {
  color: var(--primary-color, #3A4B5B);
}
@media screen and (min-width: 992px) {
  .card-filter a:hover {
    color: var(--secondary-color, #3A4B5B);
  }
}
@media screen and (max-width: 991.98px) {
  .card-filter a {
    font-size: 16px;
  }
}

.cards-name {
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 991.98px) {
  .cards-name {
    margin-bottom: 2.5rem;
  }
}
.cards-name .btn {
  background: var(--gray-100, #F8F9FA);
  color: var(--gray-400, #CED4DA);
}
.cards-name .btn:hover, .cards-name .btn:active {
  border-color: transparent !important;
  background: var(--gray-100, #F8F9FA) !important;
  color: var(--gray-400, #CED4DA) !important;
}/*# sourceMappingURL=card.css.map */