 footer {
    height: 133px; 
    padding-left: 8%;
    padding-right: 8%;
    @media screen and (max-width: 1400px) {
        padding-left: 4%;
        padding-right: 4%;
    } 
     .footer-menu {
        height: 133px;
         margin-left: 15.333333%; 
     }
     .navbar-brand{
        z-index: 1;
        width: 204px;
        position: absolute;
     } 
 }
 .footer-bottom { 
    height: 75px; 
    padding-left: 8%;
    padding-right: 8%;
    @media screen and (max-width: 1400px) {
        padding-left: 4%;
        padding-right: 4%;
    }
    @media screen and (max-width: 991.98px) {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 15vw;
        height: 100%;
    }
    @media screen and (max-width: 480px) { 
        padding-top: 30.5vw; 
    }
    .contain{ 
        height: 100%;
        @media screen and (max-width: 1400px) {
            padding-left: 15rem; 
        }
        @media screen and (max-width: 991.98px) {
            padding-left: 0; 
            height: auto;
            width: 100%;
            .customIcon{
              &:before{
                color: var(--gray-400, #CED4DA);
              }
            }
        }
        .footer-img{ 
            width: 110px;
            img{
                width: 100%;
            }
            @media screen and (min-width: 992px) {
                width: 237px;
            }
            @media screen and (max-width: 1400px) {
                width: 165px;
            }
            @media screen and (max-width: 1400px) {
                width: 145px;
            }
        }
        a {
            color: var(--gray-400, #CED4DA);
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            @media screen and (max-width: 991.98px) {
              display: flex;
              text-align: center;
              font-weight: 400;
              font-size: 14px;
              justify-content: center;
            }
        }
       
    }
}