header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    position: absolute;
    transition: all 0.3s ease-in-out; 
    padding: 0 8%;
    @media screen and (max-width: 1400px) {
        padding: 0 4%;
    }
    @media screen and (max-width: 991.98px) {
        padding: 0 10%;
    }
    .navbar-brand {
        img {
            &.lightImg {
              display: block;
              @media screen and (max-width: 1400px) {
                width: 150px;
              }
              @media screen and (max-width: 1200px) {
                width: 120px;
              }
            }
            &.darkImg {
                display: none;
                @media screen and (max-width: 1400px) {
                    width: 150px;
                }
                @media screen and (max-width: 1200px) {
                    width: 120px;
                  }
            }
        }
    }

    &.subHeader,
    &.fixed {
        background-color: #ffffff;
        height: 150px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 991.98px) {
            height: 77px;
        }
        .headerFixedMenu{
            width: 100%;
        }
        .container-fluid {
            padding-top: 0 !important;
        }
        .navbar-brand {
            img {
                &.lightImg {
                   display: none;
                }
                &.darkImg {
                  display: block;
                }
            }
        }
        .navbar-nav {
            .nav-link {
                color: var(--gray-600, #6C757D);
                @media screen and (min-width: 992px) {
                    &:hover {
                        color: var(--gray-600, #6C757D);
                    }
                }
                &.active {
                    color: var(--gray-600, #6C757D);
                }
            }
        }
        .socialMedia {
            .customIcon {
                &:before {
                    color: var(--gray-600, #6C757D);
                }
            }
        }
        .navbar-toggler {
            &:before,
            &:after {
                background-color: var(--primary-color, var(--gray-600, #6C757D));
            }

            .navbar-toggler-icon {
                background-color: var(--primary-color, var(--gray-600, #6C757D));
            }

            &.active {
                .navbar-toggler-icon {
                    background-color: rgba(0, 0, 0, 0);
                }
            }
        }
        &.active {
            .navbar-brand {
                img {
                    &.lightImg {
                       display: block;
                    }
                    &.darkImg {
                        display: none;
                    }
                }
            }
            .navbar-toggler {
                &:before,
                &:after {
                    background-color: #ffffff;
                }

                .navbar-toggler-icon {
                    background-color: #ffffff;
                }

                &.active {
                    .navbar-toggler-icon {
                        background-color: rgba(0, 0, 0, 0);
                    }
                }
            }
        }
    }
    &.subHeader{
        position: relative;
    }
    &.fixed {
        position: fixed;
        top: 0;
        box-shadow: 0 8px 46px #0000001a;
        height: 100px!important;
        &.subHeader{
            position:fixed;
        }
    }
}
.navbar-nav {
    @media screen and (max-width: 991.98px) {
        padding-left: 3.5rem;
        padding-top: 1.5rem;

        .nav-item {
            padding: 0 0;

            .customIcon {
                transform: rotate(-90deg);
                position: absolute;
                padding-left: 7px;
                padding-bottom: 0px;
                padding-bottom: 0;
                font-size: 10px;
            }
        }
    }

    .nav-link {
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        padding-left: 1.69270vw !important;
        padding-right:  1.69270vw !important;
        transition: all 0.3s linear;
        @media screen and (min-width:1921px) {
            padding-left: 32.5px !important;
            padding-right: 32.5px !important;
        }
        @media screen and (max-width: 1200px) {
            padding-left: 12px !important;
            padding-right: 12px !important;
        }
        @media screen and (max-width: 991.98px) {
            color: #fff !important;
            font-family: "Outfit", sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            padding-top: 10.2px;
            padding-bottom: 10.2px;
        }
        @media screen and (min-width: 991.98px) {
            &:hover {
                opacity: 0.8;
            }
        }

        &.active {
            color: var(--gray-600, #6C757D);
        }
    }

    .show {
        & > .nav-link {
            color: var(--gray-600, #6C757D);
        }
    }
}

.navbar-brand {
    @media screen and (max-width: 991.98px) {
        width: 34.4vw;
        z-index: 999;
        max-width: 200px;
        img {
            width: 100%;
        }
    }
}

.navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 27px;
    height: 22px;
    padding: 0;
    z-index: 10;

    &:before,
    &:after {
        content: "";
        width: 100%;
        height: 2.6px;
        background-color: #ffffff;
        transition: all 0.3s linear;
    }

    .navbar-toggler-icon {
        width: 100%;
        height: 2.5px;
        background-color: #ffffff;
        background-image: none;
    }

    &.active {
        justify-content: center;
        position: relative;

        &:before {
            transform: rotate(45deg);
            position: absolute;
            top: 14px;
        }

        &:after {
            transform: rotate(-45deg);
            position: absolute;
            top: 14px;
        }

        .navbar-toggler-icon {
            background-color: rgba(0, 0, 0, 0);
        }
    }
}

.dropdown-toggle {
    @media screen and (min-width: 992px) {
        &::after {
            display: none;
        }
    }

    @media screen and (max-width: 991.98px) {
        &:after {
            content: "\e912";
            font-family: "iconFont" !important;
            border: none;
            border: none;
            position: absolute;
            left: -14px;
            font-size: 9px;
            top: 18px;
            transform: rotate(-90deg);
            transition: all 0.3s linear;
        }

        &.show {
            &:after {
                transform: rotate(90deg);
            }
        }
    }
}
.dropdown-menu {
    padding-left: 35px;
    padding-bottom: 0;
    margin-top: 0;
    background: transparent;
    border: none;
    padding-top: 0;

    .dropdown-item {
        padding: 3.5px 0;
        &:active,
        &:hover{
            background-color: transparent;
            box-shadow: none;
        }
    }
}

/* Custom CSS for sliding animation */
.dropdown-menu.slide-down {
    display: block;
    transform: translate3d(0, -100%, 0);
    animation: slide-down 0.5s forwards;
}

@keyframes slide-down {
    to {
        transform: translate3d(0, 0, 0);
    }
}
/*Social Media*/
.socialMedia {
    a {
        transition: all 0.3s linear;
        padding: 0 0.6rem;
        @media screen and (min-width: 991.98px) {
           &:hover{
            opacity: 0.8;
           }
            .customIcon {
                font-size: 20px; 
            }
        }
        @media screen and (max-width: 1200px) {
            padding: 0 0.4rem;
        }
        .customIcon{
            @media screen and (max-width: 1200px) {
                font-size: 16px;
            }
        }
    }
}




 

#mobile { 
    position:relative;
    margin:0 auto; 
    overflow:hidden;
    background: #132A3F;
  }
  
  #mobileBodyContent {
    background:#f8f7f5;
    position:relative;
    z-index:20;
    width:100%;
    height:100%;
    overflow:hidden;
    visibility:visible;
    transition: all 0.3s ease-in;
  }
   
  #image {
    height:280px;
    width:100%;
    overflow:hidden;
    position:relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      left:0;
      top:0;
    }
  }
  
  #title {
    height:20px;
    width:200px;
    margin:40px auto;
    background:#eae8e5;
  }
  
  #text .item {
    height:10px;
    width:calc(100% - 40px);
    margin:20px auto;
    background:#eae8e5;
  }
  
  #burgerBtn {
    left: 40px;
    top: 47px;
    border-top: 2px solid #ffffff;
    height:25px;
    width:30px;
    box-sizing:border-box;
    position: fixed;
    z-index:30; 
    cursor:pointer;
    transition: all 0.3s ease-in;
    &:before {
      content:"";
      display:block;
      position:absolute;
      height:2px;
      width:30px;
      left:0;
      background:#f85051;
      top:10px;
      transition: all 0.3s ease-in;
    }
    &:after {
      content:"";
      display:block;
      position:absolute;
      height:2px;
      width:30px;
      left:0;
      background:#f85051;
      bottom:0;
      transition: all 0.3s ease-in;
    }
  }
  
  #nav {
    position:absolute;
    z-index:10;
    list-style-type:none;
    padding:100px 0 0 20px; 
    overflow:hidden;
    li {
      height:30px;
      width:0;
      margin:30px 0; 
      transition: all 0.3s ease-in;
      & + li {
        margin-left:-40px;
        & + li {
          margin-left:-80px;
          & + li {
            margin-left:-120px;
          }
        }
      }
    }
  }
  
  #demoSelector {
    position:absolute;
    list-style-type:none;
    margin:0;
    padding:0;
    top:333px;
    left:50%;
    margin-left:227px;
    li {
      padding:10px 0 10px 30px;
      position:relative;
      cursor:pointer;
      &:after {
        content:"";
        position:absolute;
        height:10px;
        width:10px; 
        background:#d8d5d0;
        left:0;
        top:18px;
      }
      &:before {
        content:"";
        position:absolute;
        height:18px;
        width:18px; 
        border-radius: 12px;
        border:2px solid #888888;
        left:-6px;
        top:12px; 
        transform: scale(0);
        transition: all 0.3s ease-in;
      }
      &.active:before { 
        transform: scale(1);
      }
    }
  }
  
  .navigation {
    #nav li {
      width:200px;
      margin-left:0;
    }
    #burgerBtn {
      border-color:transparent;
      &:before { 
        transform: rotate(45deg);
        width:33px;
        left:-2px;
      }
      &:after {
        transform: rotate(135deg);
        bottom:11px;
        width:33px;
        left:-2px;
      }
    }
  }
  
  .demo1.navigation {
    #mobileBodyContent {
        transform: scale(0.85);
        margin-left: 200px;
        border-radius: 20px;
    }
  }
   
   