header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: absolute;
  transition: all 0.3s ease-in-out;
  padding: 0 8%;
}
@media screen and (max-width: 1400px) {
  header {
    padding: 0 4%;
  }
}
@media screen and (max-width: 991.98px) {
  header {
    padding: 0 10%;
  }
}
header .navbar-brand img.lightImg {
  display: block;
}
@media screen and (max-width: 1400px) {
  header .navbar-brand img.lightImg {
    width: 150px;
  }
}
@media screen and (max-width: 1200px) {
  header .navbar-brand img.lightImg {
    width: 120px;
  }
}
header .navbar-brand img.darkImg {
  display: none;
}
@media screen and (max-width: 1400px) {
  header .navbar-brand img.darkImg {
    width: 150px;
  }
}
@media screen and (max-width: 1200px) {
  header .navbar-brand img.darkImg {
    width: 120px;
  }
}
header.subHeader, header.fixed {
  background-color: #ffffff;
  height: 150px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 991.98px) {
  header.subHeader, header.fixed {
    height: 77px;
  }
}
header.subHeader .headerFixedMenu, header.fixed .headerFixedMenu {
  width: 100%;
}
header.subHeader .container-fluid, header.fixed .container-fluid {
  padding-top: 0 !important;
}
header.subHeader .navbar-brand img.lightImg, header.fixed .navbar-brand img.lightImg {
  display: none;
}
header.subHeader .navbar-brand img.darkImg, header.fixed .navbar-brand img.darkImg {
  display: block;
}
header.subHeader .navbar-nav .nav-link, header.fixed .navbar-nav .nav-link {
  color: var(--gray-600, #6C757D);
}
@media screen and (min-width: 992px) {
  header.subHeader .navbar-nav .nav-link:hover, header.fixed .navbar-nav .nav-link:hover {
    color: var(--gray-600, #6C757D);
  }
}
header.subHeader .navbar-nav .nav-link.active, header.fixed .navbar-nav .nav-link.active {
  color: var(--gray-600, #6C757D);
}
header.subHeader .socialMedia .customIcon:before, header.fixed .socialMedia .customIcon:before {
  color: var(--gray-600, #6C757D);
}
header.subHeader .navbar-toggler:before, header.subHeader .navbar-toggler:after, header.fixed .navbar-toggler:before, header.fixed .navbar-toggler:after {
  background-color: var(--primary-color, var(--gray-600, #6C757D));
}
header.subHeader .navbar-toggler .navbar-toggler-icon, header.fixed .navbar-toggler .navbar-toggler-icon {
  background-color: var(--primary-color, var(--gray-600, #6C757D));
}
header.subHeader .navbar-toggler.active .navbar-toggler-icon, header.fixed .navbar-toggler.active .navbar-toggler-icon {
  background-color: rgba(0, 0, 0, 0);
}
header.subHeader.active .navbar-brand img.lightImg, header.fixed.active .navbar-brand img.lightImg {
  display: block;
}
header.subHeader.active .navbar-brand img.darkImg, header.fixed.active .navbar-brand img.darkImg {
  display: none;
}
header.subHeader.active .navbar-toggler:before, header.subHeader.active .navbar-toggler:after, header.fixed.active .navbar-toggler:before, header.fixed.active .navbar-toggler:after {
  background-color: #ffffff;
}
header.subHeader.active .navbar-toggler .navbar-toggler-icon, header.fixed.active .navbar-toggler .navbar-toggler-icon {
  background-color: #ffffff;
}
header.subHeader.active .navbar-toggler.active .navbar-toggler-icon, header.fixed.active .navbar-toggler.active .navbar-toggler-icon {
  background-color: rgba(0, 0, 0, 0);
}
header.subHeader {
  position: relative;
}
header.fixed {
  position: fixed;
  top: 0;
  box-shadow: 0 8px 46px rgba(0, 0, 0, 0.1019607843);
  height: 100px !important;
}
header.fixed.subHeader {
  position: fixed;
}

@media screen and (max-width: 991.98px) {
  .navbar-nav {
    padding-left: 3.5rem;
    padding-top: 1.5rem;
  }
  .navbar-nav .nav-item {
    padding: 0 0;
  }
  .navbar-nav .nav-item .customIcon {
    transform: rotate(-90deg);
    position: absolute;
    padding-left: 7px;
    padding-bottom: 0px;
    padding-bottom: 0;
    font-size: 10px;
  }
}
.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding-left: 1.6927vw !important;
  padding-right: 1.6927vw !important;
  transition: all 0.3s linear;
}
@media screen and (min-width: 1921px) {
  .navbar-nav .nav-link {
    padding-left: 32.5px !important;
    padding-right: 32.5px !important;
  }
}
@media screen and (max-width: 1200px) {
  .navbar-nav .nav-link {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}
@media screen and (max-width: 991.98px) {
  .navbar-nav .nav-link {
    color: #fff !important;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding-top: 10.2px;
    padding-bottom: 10.2px;
  }
}
@media screen and (min-width: 991.98px) {
  .navbar-nav .nav-link:hover {
    opacity: 0.8;
  }
}
.navbar-nav .nav-link.active {
  color: var(--gray-600, #6C757D);
}
.navbar-nav .show > .nav-link {
  color: var(--gray-600, #6C757D);
}

@media screen and (max-width: 991.98px) {
  .navbar-brand {
    width: 34.4vw;
    z-index: 999;
    max-width: 200px;
  }
  .navbar-brand img {
    width: 100%;
  }
}

.navbar-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 27px;
  height: 22px;
  padding: 0;
  z-index: 10;
}
.navbar-toggler:before, .navbar-toggler:after {
  content: "";
  width: 100%;
  height: 2.6px;
  background-color: #ffffff;
  transition: all 0.3s linear;
}
.navbar-toggler .navbar-toggler-icon {
  width: 100%;
  height: 2.5px;
  background-color: #ffffff;
  background-image: none;
}
.navbar-toggler.active {
  justify-content: center;
  position: relative;
}
.navbar-toggler.active:before {
  transform: rotate(45deg);
  position: absolute;
  top: 14px;
}
.navbar-toggler.active:after {
  transform: rotate(-45deg);
  position: absolute;
  top: 14px;
}
.navbar-toggler.active .navbar-toggler-icon {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 992px) {
  .dropdown-toggle::after {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .dropdown-toggle:after {
    content: "\e912";
    font-family: "iconFont" !important;
    border: none;
    border: none;
    position: absolute;
    left: -14px;
    font-size: 9px;
    top: 18px;
    transform: rotate(-90deg);
    transition: all 0.3s linear;
  }
  .dropdown-toggle.show:after {
    transform: rotate(90deg);
  }
}

.dropdown-menu {
  padding-left: 35px;
  padding-bottom: 0;
  margin-top: 0;
  background: transparent;
  border: none;
  padding-top: 0;
}
.dropdown-menu .dropdown-item {
  padding: 3.5px 0;
}
.dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  box-shadow: none;
}

/* Custom CSS for sliding animation */
.dropdown-menu.slide-down {
  display: block;
  transform: translate3d(0, -100%, 0);
  animation: slide-down 0.5s forwards;
}

@keyframes slide-down {
  to {
    transform: translate3d(0, 0, 0);
  }
}
/*Social Media*/
.socialMedia a {
  transition: all 0.3s linear;
  padding: 0 0.6rem;
}
@media screen and (min-width: 991.98px) {
  .socialMedia a:hover {
    opacity: 0.8;
  }
  .socialMedia a .customIcon {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .socialMedia a {
    padding: 0 0.4rem;
  }
}
@media screen and (max-width: 1200px) {
  .socialMedia a .customIcon {
    font-size: 16px;
  }
}

#mobile {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #132A3F;
}

#mobileBodyContent {
  background: #f8f7f5;
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: visible;
  transition: all 0.3s ease-in;
}

#image {
  height: 280px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#title {
  height: 20px;
  width: 200px;
  margin: 40px auto;
  background: #eae8e5;
}

#text .item {
  height: 10px;
  width: calc(100% - 40px);
  margin: 20px auto;
  background: #eae8e5;
}

#burgerBtn {
  left: 40px;
  top: 47px;
  border-top: 2px solid #ffffff;
  height: 25px;
  width: 30px;
  box-sizing: border-box;
  position: fixed;
  z-index: 30;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
#burgerBtn:before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 30px;
  left: 0;
  background: #f85051;
  top: 10px;
  transition: all 0.3s ease-in;
}
#burgerBtn:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 30px;
  left: 0;
  background: #f85051;
  bottom: 0;
  transition: all 0.3s ease-in;
}

#nav {
  position: absolute;
  z-index: 10;
  list-style-type: none;
  padding: 100px 0 0 20px;
  overflow: hidden;
}
#nav li {
  height: 30px;
  width: 0;
  margin: 30px 0;
  transition: all 0.3s ease-in;
}
#nav li + li {
  margin-left: -40px;
}
#nav li + li + li {
  margin-left: -80px;
}
#nav li + li + li + li {
  margin-left: -120px;
}

#demoSelector {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 333px;
  left: 50%;
  margin-left: 227px;
}
#demoSelector li {
  padding: 10px 0 10px 30px;
  position: relative;
  cursor: pointer;
}
#demoSelector li:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: #d8d5d0;
  left: 0;
  top: 18px;
}
#demoSelector li:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 12px;
  border: 2px solid #888888;
  left: -6px;
  top: 12px;
  transform: scale(0);
  transition: all 0.3s ease-in;
}
#demoSelector li.active:before {
  transform: scale(1);
}

.navigation #nav li {
  width: 200px;
  margin-left: 0;
}
.navigation #burgerBtn {
  border-color: transparent;
}
.navigation #burgerBtn:before {
  transform: rotate(45deg);
  width: 33px;
  left: -2px;
}
.navigation #burgerBtn:after {
  transform: rotate(135deg);
  bottom: 11px;
  width: 33px;
  left: -2px;
}

.mobileMenu {
  width: 100%;
  position: relative;
  -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: auto;
}
.mobileMenu.navigation {
  height: 100vh;
}
.mobileMenu.navigation #mobileBodyContent {
  -khtml-transform: scale(0.85);
  transform: scale(0.85);
  margin-left: 185px;
  border-top-left-radius: 28.5px;
  border-bottom-left-radius: 28.5px;
}
.mobileMenu #mobileBodyContent {
  background: #fff;
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: visible;
  transition: all 0.3s ease-in;
}
.mobileMenu .mobile-nav-menu a {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}/*# sourceMappingURL=header.css.map */