
.modal {
    --bs-modal-bg: #132a3fba;
    --bs-backdrop-bg: #132a3fba;

    .modal-content {
        .modal-body {
            
            .videoCover {
                aspect-ratio: 8/4.5;

                .videoWrapper {
                    height: 100%;
                    width: 100%;
                    @media screen and (max-width:991.98px) {
                        border-radius: 0;
                    }

                    iframe {
                        border-radius: 20px;
                        @media screen and (max-width:991.98px) {
                            border-radius: 0;
                        }
                    }

                    video {
                        border-radius: 20px;
                        @media screen and (max-width:991.98px) {
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }

    .btn-close {
        background: #132A3F;
        opacity: 1;
        border-radius: 50%;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        position: absolute;
        top: 0;
        right: -40px;

        @media screen and (max-width:991.98px) {
            top: -100px;
            right: 25px;
        }
        .customIcon{
            transform: rotate(90deg);
            font-size: 40px;
        }
    }
 
}

 